@charset "UTF-8";
/* CSS Document */
.folderContainer{
    padding: 5vh 15vw;
    height: 100vh;
}
.paddingContainer{
    padding: 1.5vh;
}
.imgContainer{
    height: 50%;
    padding: 1vh;
}
.confirmContainer{
    height: 50%;
    padding: 1vh;
}
.imgconfirmContainer{
    height: 100%;
}
.addWordContainer{
    height: 100%;
    padding: 1vh;
}
.imgAddWord{
    height: 100%;
    width: 100%;
    padding: 10%;
    background-color: white;
    background-clip: content-box;
}
.buttonUploadImg{
    max-height: 15%;
    max-width: 15%;
    width: auto;
    height: auto;
}
.buttonAddPhoto{
    display: block;
    max-width: 15%;
    height: auto;
    max-height: 15%;
    width: auto;
    top: 80%;
    left: 77.5%;
    transform: translate(-50%,-50%);
    position: absolute;
    z-index: 5;
}
#file-input{
    display: none !important;
}
.addWordFromField{
    padding: 1vh;
}
.addWordForm7c5{
    height: 7.5%;
    padding: 0.25vh;
}
.addWordForm15{
    height: 15%;
    padding: 0.25vh;
}
.addWordForm22c5{
    height: 22.5%;
    padding: 0.25vh;
}
.addWordForm40{
    height: 40%;
    padding: 0.25vh;
}
