@charset "UTF-8";
/* CSS Document */
.marginTop{
    height:1%;
}
.title1{ 
    background-color: #fff;
    height: 8%;
    padding-right: 2%;
}
.title2{ 
    background-color: #fff;
    height: 16%;
}
.content1{ 
    background-color: #fddfad;
    height: 8%;
    padding-left: 25% !important;
    padding-right: 25% !important;
}
.content1nocolor{ 
    height: 8%;
    padding-left: 3% !important;
    padding-right: 3% !important;
}
.content1-5{ 
    background-color: #fddfad;
    height: 12%;
    margin-top: -0.1px;/*to solve a little problem in chrome*/
}
.content2{ 
    background-color: #fddfad;
    height: 16%;
}
.content3{ 
    background-color: #fddfad;
    height: 24%;
}
.contentNull{ 
    background: url('/img/srcWeb/Patterns1-05.png');
    height: 24%;
}
.content4{ 
    height: 30%;

}
.backgroundImgEdit{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: white;
    position: absolute;
}
.backgroundImgPicto{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: white;
    position: absolute;
    padding: 5vh 5vw;
}
.ImgEdit{
    display: block;
    max-width: 50%;
    height: auto;
    max-height: 50%;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    position: absolute;
}
.borderImgEdit{
    border-radius: 10px;
    border: 5px solid #75ced6;
    height: 75%;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    z-index: 4;
}
.buttonAddPhoto{
    display: block;
    max-width: 25%;
    height: auto;
    max-height: 25%;
    width: auto;
    top: 85%;
    left: 85%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    position: absolute;
    z-index: 5;
}
.buttonRemovePhoto{
    display: block;
    max-width: 25%;
    height: auto;
    max-height: 25%;
    width: auto;
    top: 15%;
    left: 85%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    position: absolute;
    z-index: 5;
}
.saveEdit{
    margin-left: 8%;
    border-radius: 150px;
}
.marginEditcell{
    margin-left: 2.5%; 
    width: 39%;
}

.titleTextTypus{
    font-weight: bold;
    padding-left: 5% !important;
    /*vertical align*/
    margin-top: 2%;
}
.titleText{
    font-weight: bold;
    padding-left: 5% !important;
    /*vertical align*/
    top: 50%;
    transform:translate(0%,-50%);
}
.buttonTitle{
    padding-right: 5% !important;
    top: 50%;
    transform:translate(0%,-50%);
}
.typeCellText{
    text-align: center;
}
.boxEdit{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 4vh;
    margin-top: 2%;
    border: none;
}
.cellEditSearch{
    width: 75%;
    height: 75%;
    margin: 5% 10% 5% 10%;
}
.pictoEditSearch{
    margin-left: 5%
}
.imgResponsiveSentence{
    display: block;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: relative;
    z-index: 2;
}

.editTitle{
    position: relative;
    color: #fff;
    height: 75%;
    float: left;
    top: 50%;
    transform:translate(0%,-50%);
    margin-left: 2em;
    font-weight: bold;
}

#sentenceSearchContent{
    position:relative;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}
#paddingFolder
{
    padding-top: 2.5vh;
    padding-bottom: 3.5vh;
}
.boxEditTrash{
    height: 100%;
}
.editTrash25{
    height: 25%;
    margin-bottom: 1.5vh;
}
.editTrash4{
    height: 4vh;
    margin-bottom: 1.5vh;
}
.dropdown-arrow {
    background-size: 3vh 4vh;
}
.textTrash{
    height: 3vh;
    margin-left: 5%;
    margin-bottom: 1vh;
}
.editTrashYellow{
    background-color: #fac659;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.rowText{
    margin-right: -5px;
}
.columnText{
    margin-right: -5px;
    margin-left: 10px;
}
.backgroundFolderWhite{
    background:  url('/img/folder.png') no-repeat;
    background-size: 100% 100%;
    padding: 10%;
    height: 75%;
}
.backgroundFolderBlue{
    background:  url('/img/folderblue.png') no-repeat;
    background-size: 100% 100%;
    padding: 10px;
    height: 100%;
    width: 25%;
}
.folderContent{
    margin: 2vh 3%;
    height: 75%;
}
.textBlue{
    background:  #79d2da;
    padding-left: 5%;
    padding-right: 5%;
}
.textWhite{
    background:  #ffffff;
    padding-left: 5%;
    padding-right: 5%;
    background-clip: content-box;
    margin-bottom: 2.5%;
    margin-top: 2.5%;
}
.editTextInput{
    height: 4vh;
    border-radius: 7px;
}




#file-input{
    display: none !important;
}

