@charset "UTF-8";
/* CSS Document */
.marginTop{
    height:1%;
}
.title1{ 
    background-color: #fff;
    height: 8%;
    padding-right: 2%;
}
.title2{ 
    background-color: #fff;
    height: 16%;
}
.content1{ 
    background-color: #fddfad;
    height: 8%;
    padding-left: 25% !important;
    padding-right: 25% !important;
}
.content1-5{ 
    background-color: #fddfad;
    height: 12%;
}
.content2{ 
    background-color: #fddfad;
    height: 16%;
}
.content3{ 
    background-color: #fddfad;
    height: 24%;
}
.content4{ 
    height: 30%;

}
.saveEdit{
    margin-left: 8%;
    border-radius: 150px;
}
.marginEditcell{
    margin-left: 2.5%; 
    width: 39%;
}

.titleTextTypus{
    font-weight: bold;
    padding-left: 5% !important;
    /*vertical align*/
    margin-top: 2%;
}
.titleText{
    font-weight: bold;
    padding-left: 5% !important;
    /*vertical align*/
    top: 50%;
    transform:translate(0%,-50%);
}
.buttonTitle{
    padding-right: 5% !important;
    top: 50%;
    transform:translate(0%,-50%);
}
.typeCellText{
    text-align: center;
}
.boxEdit{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 27px;
    margin-top: 2%;
}
.checkboxEdit{
    float: right;

}
.cellEditSearch{
    width: 75%;
    height: 75%;
    margin: 5% 10% 5% 10%;
}
.pictoEditSearch{
    margin-left: 5%
}
.imgRounded{
    border-radius: 6px;
}
.cruz{
    background-color: #151515;
    height: 100%;
    float: right;
    width: 5%;
    border-top-right-radius: 10px;
}
.editTitle{
    position: relative;
    color: #fff;
    height: 75%;
    float: left;
    top: 50%;
    transform:translate(0%,-50%);
    margin-left: 2em;
    font-weight: bold;
}
.topBar{
    background-color: #3d3d3d;
    height: 7%;
    width: 105%;
    margin: -1em 1em 1em -1em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.ngdialog-close{
    top: -5px !important;
}

#sentenceSearchContent{
    position:relative;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}
.boxSearch{
    border-bottom: 2px solid;
}
#scrollbox1 {
    overflow: auto;
    padding: 0 5px;
    border: 1px solid #b7b7b7;
}
.track1 {
    width: 10px;
    background: rgba(0, 0, 0, 0);
    margin-right: 2px;
    border-radius: 10px;
    -webkit-transition: background 250ms linear;
    transition: background 250ms linear;
}

.track1:hover,
.track1.dragging {
    background: #d9d9d9; 
    background: rgba(0, 0, 0, 0.30);
}

.handle1 {
    width: 7px;
    right: 0;
    background: #999;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 7px;
    -webkit-transition: width 250ms;
    transition: width 250ms;
}

.track1:hover .handle1,
.track1.dragging .handle1 {
    width: 10px;
}
#Defpadding
{
    padding: 5%
}