@charset "UTF-8";
/* CSS Document */

#main-container {
    width: 100%;
    padding-bottom: 20vh;
}

.home-logo {
    text-align: center;
    margin-top: 10vh;
}

.home-logo-img {
    max-width: 100%;
}

.home-subtitle {
    font-size: 3vh;
    font-weight: lighter;
    color: #f0a22e;
    display: block;
    padding-top: 5px;
}

.home-buttons {
    text-align: center;
    display: block;
    margin-top: 35px;
    margin-bottom: 35px;
}

.home-button {
    cursor: pointer;
    margin-right: 5px;
}

.home-button-img {
    max-width: 100%;
}

.home-links {
    font-size: 2.2vh;
    font-weight: lighter;
    display: block;
    padding-top: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.home-video-img {
    max-width: 100%;
    position: absolute;
    z-index: 1;
    float: left;
}

.home-video-wrapper {
    position: relative;
    padding-bottom: 47.25%; /* 16:9 */
    padding-top: 0px;
    height: 0;
    z-index: 5;
}

.home-video-wrapper iframe {
	position: absolute;
	top: 8%;
	left: 6%;
	width: 84%;
	height: 100%;
        border: solid 3px black;
        border-radius: 5px;
        cursor: pointer;
}

#footer-cookies {
    position:fixed;
    display: block;
    width: 100%;
    height: 15vh;
    bottom: 0;
    left: 0;
    background-color: #474747;
    opacity: 0.95;
    z-index: 10;
    cursor: pointer;
    color: white;
    padding: 3vh;
    padding-left: 7vh;
    padding-right: 7vh;
    font-size: 2.2vh;
}