@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container button {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.recuperacioContrasenya{
    font-size: 2.5vh;
    font-weight: bold;
    padding-top: 4vh;
    padding-left: 0px;
    padding-right: 0px;
    text-align: right;
}
.recuperacioContrasenya a {
    color: #3d98b8; /* turquesa oscuro*/
    text-decoration: none;
}
.recuperacioContrasenya a:hover,
.recuperacioContrasenya a:focus {
  color: #333333; /* gris*/
}

/*
.butoRegistret{
    background: none;
    
    padding: 0px;
    padding-top: 4vh;
    padding-bottom:1vh;
    border:0px;
    margin:0px;
}
.butoRegistret a {
    padding-top:1vh;
    padding-bottom: 1vh;
    padding-left: 2vw;
    padding-right: 3vw;
    margin:0px;
    
    color: #333333;  gris
    background-color: #99ccdd;  azul turquesa
    border-left:2px solid #3d98b8;azul turquesa Oscuro
    border-bottom:2px solid #3d98b8;azul turquesa Oscuro
    
    height: 40px;
    width: 120px;
    margin-top: 2px;
}
.butoRegistret a:hover,
.butoRegistret a:focus {
    background-color: #5eacc0;azul turquesa Oscuro
    border:none;
    margin-left: 1px;
    margin-top: 3px;
    text-decoration:none;
    
}*/

.butoRegistret{
    font-size: 2.5vh;
    font-weight: bold;
    padding-top: 4vh;
    padding-right: 0px;
    padding-left: 0px;
}
.butoRegistret a {
    color: white; /* blanco*/
    text-decoration: none;
}
.butoRegistret a:hover,
.butoRegistret a:focus {
  color: #333333; /* gris*/
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}
