[class*="col-"]{
    padding-right: 15px;
    padding-left: 15px;
}

html, body, .container-table {
    height: 100%;
    height: 100vh;
    background: url("/img/FonsRegistre.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*Per centrar el div central*/
.container-table {
    display: table;
    background: none;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.barraSuperior{
    background-image: url("/img/fonsBarraSuperior.png");
    
    height: 6vh;
    width: 110vw;
    
    position: fixed;
    z-index:1;
}

.boxLogin{
    background-image: url("/img/Patterns1-08.png");
    /*height: 35vh;*/
    border-radius: 15px;
    padding: 0px;
}
.barraBoxLogin{
    background-image: url("/img/fonsBarraSuperior.png");
    height: 6vh;
    
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.textResponsiveBarra{
    color: white;
    margin-top: 1vh;
    margin-left: 1vw;
}
.imatgeClau{
    height: 5vh;
    width: auto;
}
.btn-idioma {
    color: white;
    background-color: #333333;
    border-color: #333333;
    
    height: 5vh;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-top: 0.5vh;
    border-radius: 5px;
}
.btn-idioma:hover{
    background-color: black;
    border-color: black;
    margin-left: 1px;
    margin-top: 0.6vh;
}
.butoSortirBarraSuperiorRegistre{
    margin-top: 1.3vh;
    color: white;
    cursor: pointer;
}
.butoSortirBarraSuperiorRegistre:hover{
    text-decoration: none;
    color:black;
}
.margeSuperiorUser{
    padding-top: 1.5vh;
}
.comentariError{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.recuperacioContrasenya{
    font-size: 2.5vh;
    font-weight: bold;
    padding-top: 4vh;
    padding-left: 0px;
    padding-right: 0px;
    text-align: right;
}
.recuperacioContrasenya a {
    color: #3d98b8; /* turquesa oscuro*/
    text-decoration: none;
    cursor: pointer;
}
.recuperacioContrasenya a:hover,
.recuperacioContrasenya a:focus {
  color: #333333; /* gris*/
}

.butoRegistret{
    font-size: 2.5vh;
    font-weight: bold;
    padding-top: 4vh;
    padding-bottom: 4vh;
    padding-right: 0px;
    padding-left: 0px;
}
.butoRegistret a {
    color: white; /* blanco*/
    text-decoration: none;
    cursor: pointer;
}
.butoRegistret a:hover,
.butoRegistret a:focus {
  color: #333333; /* gris*/
}

.boxButo{
    padding: 0px;
    height: 35vh;
    background-color: none;
}
.buto{
    margin-top: 8vh;
}
.triangle{
    padding: 0px;
}
.imgTriangle{
    height: 18.9vh;
    width: auto;
}

.img-rounded{
    height: 21vh;
    width: auto;
    border-radius: 10px;
    border:none;
    margin-left: 1vh;
    cursor: pointer;
}

/*password recovery view*/
.fonsBlanc{
    padding: 1vh;
    margin: 1vh;
    border-radius: 10px;
    
    background: rgb(255, 255, 255); /* Fall-back for browsers that don't support rgba */
    background: rgba(255, 255, 255, .5);
}
p{
    margin: 0px;
    padding-left: 2vh;
    padding-rigth: 2vh;
    
}
.rowButons{
    padding: 0px;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.btn-blue {
    color: black;
    background-color: #99ccdd;  /*azul turquesa*/
    border-color: #333333;
    
    padding: 1vh;
    height: 5.2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 5px;
    cursor: pointer;
}
.btn-blue:hover{
    color: black;
    background-color: #5eacc0; /*azul turquesa Oscuro*/
    border-color: black;
    margin-left: 1px;
    margin-top: 0.6vh;
    text-decoration:none;
}