html, body, .container-table {
    height: 100%;
    height: 100vh;
    background: url("/img/FonsRegistre.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*Per centrar el div central*/
.container-table {
    display: table;
    background: none;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.barraSuperior{
    background-image: url("/img/fonsBarraSuperior.png");
    
    height: 6vh;
    width: 110vw;
    
    position: fixed;
    z-index:1;
}

.boxLogin{
    background-image: url("/img/Patterns1-08.png");
    height: 35vh;
    border-radius: 15px;
}
.barraBoxLogin{
    background-image: url("/img/fonsBarraSuperior.png");
    height: 6vh;
    
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.textResponsiveBarra{
    color: white;
    margin-top: 1vh;
    margin-left: 1vw;
}
.imatgeClau{
    height: 5vh;
    width: auto;
}
.margeSuperiorUser{
    padding-top: 1.5vh;
}
.comentariError{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.recuperacioContrasenya{
    font-size: 2.5vh;
    font-weight: bold;
    padding-top: 4vh;
    padding-left: 0px;
    padding-right: 0px;
    text-align: right;
}
.recuperacioContrasenya a {
    color: #3d98b8; /* turquesa oscuro*/
    text-decoration: none;
}
.recuperacioContrasenya a:hover,
.recuperacioContrasenya a:focus {
  color: #333333; /* gris*/
}

/*
.butoRegistret{
    background: none;
    
    padding: 0px;
    padding-top: 4vh;
    padding-bottom:1vh;
    border:0px;
    margin:0px;
}
.butoRegistret a {
    padding-top:1vh;
    padding-bottom: 1vh;
    padding-left: 2vw;
    padding-right: 3vw;
    margin:0px;
    
    color: #333333;  gris
    background-color: #99ccdd;  azul turquesa
    border-left:2px solid #3d98b8;azul turquesa Oscuro
    border-bottom:2px solid #3d98b8;azul turquesa Oscuro
    
    height: 40px;
    width: 120px;
    margin-top: 2px;
}
.butoRegistret a:hover,
.butoRegistret a:focus {
    background-color: #5eacc0;azul turquesa Oscuro
    border:none;
    margin-left: 1px;
    margin-top: 3px;
    text-decoration:none;
    
}*/

.butoRegistret{
    font-size: 2.5vh;
    font-weight: bold;
    padding-top: 4vh;
    padding-right: 0px;
    padding-left: 0px;
}
.butoRegistret a {
    color: white; /* blanco*/
    text-decoration: none;
}
.butoRegistret a:hover,
.butoRegistret a:focus {
  color: #333333; /* gris*/
}

.boxButo{
    padding: 0px;
    height: 35vh;
    background-color: none;
}
.buto{
    margin-top: 8vh;
}
.triangle{
    padding: 0px;
}
.imgTriangle{
    height: 18.9vh;
    width: auto;
}

.img-rounded{
    height: 21vh;
    width: auto;
    border-radius: 10px;
    border:none;
    margin-left: 1vh;
    cursor: pointer;
}