@charset "UTF-8";
/* CSS Document */
.folderContainer{
    padding: 5vh 5vw;
    height: 94%;
}
.panelGroupContainer{
    margin-left: 14vw;
    height: 100%;
}
.historicContainer{
    margin-left: 1vw;
    height: 100%;
}
.panelContainer{
    background-color: whitesmoke;
    height: 15%;
    width: 90%;
    margin: 5% 5%;
    border-radius: 10px;
}
.panelTitle{
    height: 100%;
    font-size: 25px;
    transform: translate(0%, 25%);
    position: relative;
}
.editaPanel{
    border-top-right-radius: 10px;
    height: 33.333333%; 
    background: #92dbe1;
    color: white;
    font-weight: bold;
    padding-top: 0.5vh;
}
.noPrimaryPanel{
    height: 33.333333%; 
    background: #c0f5f9;
    padding-top: 0.5vh;
}
.primaryPanel{
    height: 33.333333%; 
    background: #f9d05a;
    font-weight: bold;
    padding-top: 0.5vh;
}
.nouPanel{
    border-bottom-right-radius: 10px;
    height: 33.333333%; 
    background: #92dbe1;
    color: white;
    font-weight: bold;
    padding-top: 0.5vh;
}
.addPanel{
    background-color: red; /*MODIF: png con esa forma*/
    height: 15%;
    width: 90%;
    margin: 5% 5%;
    border-radius: 10px;
}