
html, body, .container-table {
    height: 100%;
    /*background: #f2f2f2;*/
    background: url("/img/FonsRegistre.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}
/*Per centrar el div del boxRegistreUsuari*/
.container-table {
    display: table;
    background: none;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

/*propietats del box central*/
.boxRegistreUsuari{
    /*background: #ffcc99;*/
    background-image: url("/img/FonsTaronja.png");
    border-radius: 10px;
    
}
.barraSuperiorRegistre{
    /*background: #333333;*/
    background-image: url("/img/BarraMenuSuperior.png");
    color:white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 45px;
}
.nomBarraSuperiorRegistre{
    font-size: x-large;
    margin-bottom: 3px;
    margin-top: 5px;
}
.btn-idioma {
    color: white;
    background-color: #333333;
    border-color: #333333;
    font-size: large;
    
    height: 40px;
    width: 120px;
    margin-top: 2px;
    border-radius: 5px;
}
.btn-idioma:hover{
    background-color: black;
    border-color: black;
    margin-left: 1px;
    margin-top: 3px;
}

.butonsBarraSuperiorRegistre{
}
.butoSortirBarraSuperiorRegistre{
    font-size: large;
    margin-top: 10px;
    color: white;
}
.boxFormulariRegistreUsuari{
    margin-top: 30px;
    margin-bottom: 20px;
}
.inputMarginLeft{
    margin-left: 5px;
}
.inputMarginRigth{
    margin-right: 5px;
}

.form-group {
  margin-bottom: 30px;
}

/*Comentario de error en una capa superior para no desplazar el contenido*/
.errorcoment{
    color:#cc0000; /*dark red*/
    font-weight: bold;
    font-size: 130%;
    position: fixed;
    z-index:1;
}
/*color del icono de estado, texto y el borde del input box en error*/
.error,
.has-error .form-control-feedback {
    color:red;
}
.has-error .form-control{
    color:red;
    border: 3px solid red;
    border-left: none;
}
/*color del borde cuando esta seleccionado el input box en error*/
.has-error .form-control:focus{
    border-color:#dc143c;
}
/*color del borde, fondo e icono del input box en error*/
.has-error .input-group-addon{
    background-color: #99ccdd; /*azul turquesa*/
    border: 3px solid red;
    border-right: none;
    color:#8b0000; /*dark red*/
}

/*Comentario de warning en una capa superior para no desplazar el contenido*/
.warningcoment{
    color:#cc0000; /*dark red*/
    font-weight: bold;
    font-size: 130%;
    position: fixed;
    z-index:2;
}
/*color del icono de estado, texto y el borde del input box en warning*/
.warning,
.has-warning .form-control-feedback {
    color:orange;
}
.has-warning .form-control{
    color:orange;
    border: 3px solid red;
    border-left: none;
}
/*color del borde cuando esta seleccionado el input box en warning*/
.has-warning .form-control:focus{
    border-color:#dc143c;
}
/*color del borde, fondo e icono del input box en warning*/
.has-warning .input-group-addon {
    background-color: #99ccdd;/*azul turquesa*/
    border: 3px solid red;
    border-right: none;
    color:#EE7600; /*dark orange*/
}
/*color del icono de estado, texto y el borde del input box en warning*/
.success,
.has-success .form-control-feedback {
    color:green;
}
.has-success .form-control{
    color:green;
    border: 3px solid green;
    border-left: none;
}
/*color del borde, fondo e icono del input box en success*/
.has-success .input-group-addon{
    background-color: #99ccdd;/*azul turquesa*/
    border: 3px solid green;
    border-right: none;
    color:#006400; /*dark green*/
}
/*color de fondo de los iconos de los input box en reposo*/
.input-group-addon{
    background-color: #99ccdd;/*azul turquesa*/
}

/*Listado de idiomas fondo blanco y sin margenes*/
.form-control.llistaIdiomesFormulariRegistre[disabled] {
    background-color:white;
    opacity: 1;
    color:green;
}

.llistaIdiomesFormulariRegistre{
    padding: 0px;
}
.llistaIdiomesFormulariRegistre .icona{
    vertical-align: middle;
}
.llistaIdiomesFormulariRegistre .llenguatge{
    text-align: center;
    padding: 0px;
}
.llistaIdiomesFormulariRegistre .taula{
    /*font-size: small;*/
    margin: 0px;
    background-color: white;
}
.table th, .table td { 
     border-top: none !important; 
 }
.llistaIdiomesFormulariRegistre .buto{
    background-color: #444444;
    padding: 0px;
    display:inline-block;
    vertical-align: middle;
    text-align: center;
}
.btn-borrar{
    color: white;
    padding-rigth: 15px;
}

.img-rounded{
    height: 20vh;
    width: auto;
    border-radius: 10px;
    border:none;
    margin-left: 10vh;
    cursor: pointer;
}

