@charset "UTF-8";
/* CSS Document */
.folderContainer{
    height: 100vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.boxSentencesFolder{
    height: 90vh;
}
.histFolder{
    padding: 4vh 4vw;
}
.positionIndex1{
    position: fixed;
    z-index: 1;
}
.positionIndex2{
    position: relative;
    z-index: 2;
}
.histTabFolder{
    border-top-left-radius: 0.5vw;
    border-top-right-radius: 0.5vw;
    height: 0.75vw;
    width: 3.5vw;
    background-color: white;
    margin-left: 1.5vw;
    margin-top: 0.25vw;
}
.histTabFolderShadow{
    border-top-left-radius: 0.5vw;
    border-top-right-radius: 0.5vw;
    height: 0.75vw;
    width: 3.5vw;
    background-color: #393939;
    margin-left: 2vw;
}
.histContentFolder{
    border-radius: 0.5vw;
    height: 5vw;
    width: 35vw;
}
.histContentFolderShadow{
    border-radius: 0.5vw;
    height: 5vw;
    width: 35vw;
    margin-left: 0.5vw;
    background-color: #393939;
}
.imgHistFolder{
    height: 3.5vw;
    width: auto;
    margin-top: 0.75vw;
    margin-left: 1.25vw;
}
.folderTitle{
    margin-top: 1.75vw;
    font-size: 1.75vw;
}
.scrollOverflow{
    height: 50vh;
    overflow: hidden;
}