@charset "UTF-8";
/* CSS Document */
/*MODIF: mi idea era poner aqui lo comun*/
.row{ 
    margin-left: 0px;
    margin-right: 0px;
}
.container-fluid
{
    padding-right: 0px;
    padding-left: 0px;
}
[class*="col-"]{
    padding-right: 0px;
    padding-left: 0px;
}

.fullheight{
    height:100%;
}

#main{
    height:100vh;
}

#header{
    height:6%;
    background: -moz-linear-gradient(top, rgba(46, 46, 46,0) 0%,  rgba(46, 46, 46,0.20) 20%, rgba(46, 46, 46,0.40) 40%, rgba(46, 46, 46,0.60) 60%, rgba(46, 46, 46,00) 80%, rgba(46, 46, 46,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(46, 46, 46,0)), color-stop(20%,rgba(46, 46, 46,0.20)), color-stop(40%,rgba(46, 46, 46,0.40)), color-stop(60%,rgba(46, 46, 46,0.60)), color-stop(80%,rgba(46, 46, 46,0.80)), color-stop(100%,rgba(46, 46, 46,1)));
    background: -webkit-linear-gradient(top,  rgba(46, 46, 46,0) 0%,rgba(46, 46, 46,0.2) 20%,rgba(46, 46, 46,0.4) 40%,rgba(46, 46, 46,0.6) 60%,rgba(46, 46, 46,0.8) 80%,rgba(46, 46, 46,1) 100%);
    background: -o-linear-gradient(top,  rgba(46, 46, 46,0) 0%,rgba(46, 46, 46,0.2) 20%,rgba(46, 46, 46,0.4) 40%,rgba(46, 46, 46,0.6) 60%,rgba(46, 46, 46,0.8) 80%,rgba(46, 46, 46,1) 100%);
    background: -ms-linear-gradient(top,  rgba(46, 46, 46,0) 0%,rgba(46, 46, 46,0.2) 20%,rgba(46, 46, 46,0.4) 40%,rgba(46, 46, 46,0.6) 60%,rgba(46, 46, 46,0.8) 80%,rgba(46, 46, 46,1) 100%);
    background: linear-gradient(to bottom,  rgba(46, 46, 46,0) 0%,rgba(46, 46, 46,0.2) 20%,rgba(46, 46, 46,0.4) 40%,rgba(46, 46, 46,0.6) 60%,rgba(46, 46, 46,0.8) 80%,rgba(46, 46, 46,1) 100%);
    background-color: #4c4c4c;
}

#body{
    height: 94%;
}

#menuText{
    position: relative;
    color: #fff;
    height: 75%;
    top: 50%;
    transform:translate(0%,-50%);
}


@media (max-width:1000px){
    .col-xs-12{
        font-size: 11.5px;
    }
    .col-xs-6{
        font-size: 12px;
    }
    input[type="radio"]{
        margin: 0px;
    }
}

/*MODIF: esto es no comun, propio de las vistas asi que...*/
#footer{
    height:00%;
}
#sentenceView{
    height:100%;

}

#userview{
    height:100%;

}
#predView{
    height:100%;
    padding: 0.5vh 0% 4vh 0%;
}

#searchView{
    height:50%;
    margin-right: 2%;
}
#searchFolder{
    height:20%;
}

#trashView{
    height:42%;
    margin-bottom: 2vh;
    margin-top: 0.5vh;
    margin-right: 3%;
}


.cellSearch{
    position: absolute;
    height: 100%;
}

.emptyImg{
    position: absolute;
    height: 100%;
    width: 100%;
}

.prediction{
    height: 100%;
    text-align: center;
    align-self: center;
    background-color: white;
}

.speakButton{
    height: 100%;
    text-align: center;
    align-self: center;
    background-color: purple;
}

.deleteLastButton{
    height: 100%;
    text-align: center;
    align-self: center;
    background-color: blue;
}

.deleteAllButton{
    height: 100%;
    text-align: center;
    align-self: center;
    background-color: orangered;
}
.content-prediction{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
}

.menu{
    position:relative;
}

.ngdialog.dialogEdit .ngdialog-content{
    width : 80vw;
    height: 80vh;
    margin-top: -15vh;
    background-image: url(/img/srcWeb/Patterns1-08.png);
    border-radius: 10px;
    padding: 0em;
}
.ngdialog.dialogLogOut .ngdialog-content{
    width : 45vw;
    height: 25vh;
    background-image: url(/img/srcWeb/Patterns1-08.png);
    border-radius: 10px;
    padding: 0em;
}
.ngdialog.dialogCreateBoard .ngdialog-content{
    width : 50vw;
    height: 35vh;
    background-image: url(/img/srcWeb/Patterns1-08.png);
    border-radius: 10px;
    padding: 0em;
}
.ngdialog.dialogRemoveBoard .ngdialog-content{
    width : 45vw;
    height: 25vh;
    background-image: url(/img/srcWeb/Patterns1-08.png);
    border-radius: 10px;
    padding: 0em;
}
.ngdialog.dialogCopyBoard .ngdialog-content{
    width : 50vw;
    height: 35vh;
    background-image: url(/img/srcWeb/Patterns1-08.png);
    border-radius: 10px;
    padding: 0em;
}
.ngdialog.dialogMoveBoard .ngdialog-content{
    width : 50vw;
    height: 35vh;
    background-image: url(/img/srcWeb/Patterns1-08.png);
    border-radius: 10px;
    padding: 0em;
}


.panellPrincipalText{
    height:50%;
    transform: translate(0%, 25%);
}

.containerCell{
    padding: 2px;

}
.contentCell{
    padding: 2.5%;
    border-radius: 15px;
    height: 100%;
    width: 100%;
    position: relative;

}
.ngdialog-overlay{
    background: rgba(255,255,255,0.8);
}
.FolderButton{
    margin: 10%;
    background-color: white;
}
.returnScan{
    width: 25% ;
    height: 25%;
    z-index: 24;
    position: absolute;
    border: 7px solid #2e758a;
    border-radius: 7px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: url("/img/pictos/no_querer.png");
    background-size: 100% 100%;
    background-color: rgba(255,255,255,0.8);
}
.scaneo{
    margin: -2px;
    width: 100%;
    height: 100%;
    border: 7px solid #2e758a;
    border-radius: 7px;
    z-index: 24;
    position: absolute;
}
.scaneoSent{
    border: 7px solid #2e758a;
    border-radius: 7px;
    z-index: 24;
    position: absolute;
    width: 97.6%;
}
.backgroundCell{
    padding: 0.5vh 0.25vw;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    z-index: 0;
    position: absolute;
    background-clip: content-box;
}
.function{
    right: 0px;
    bottom: 0px;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    width: auto;
    z-index: 3;
    position: absolute;
}

.shadow{
    box-shadow: 3px -2px #4a4a4a;
}
.contentPredCell{
    padding: 2.5%;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    position: relative;
    background: #fff;
}

.containerPredCell{
    padding: 1vh 15% 1vh 15%;
}

.textCell{
    top: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    z-index: 2;
    position: relative;
    padding-left: 4px;
}

.textCell:first-letter {text-transform: uppercase}

.sfolder{
    padding:2.5%;
    color:red;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.indicatorTenseSentence{
    background: #FEE8B6;
    height: 50%;
    border-top-right-radius: 10px;
}
.indicatorTipusSentence{
    background: #FEE8B6;
    height: 50%;
    border-bottom-right-radius: 10px;
}
.backgroundLlegir{
    padding-right: 6%;
}
.backgroundDelete{
    padding-left: 6%;
}
.icon{
    position: absolute;
    max-height: 85%;
    max-width: 85%;
    padding:10%
}