.scrollMenuUserConfig{
    height: 80vh;
    margin-top: 7vh;
    overflow-y: scroll;
}
/*Scroll properties*/
#scrollBar::-webkit-scrollbar{
width:15px;
background-color:none;
} 
#scrollBar::-webkit-scrollbar-thumb{
background:-webkit-linear-gradient(0, #92dbe1/*Turquesa*/ 40%, #78b3b8/*Turquesa Oscuro*/ 100%);
border-radius:10px;
}
#scrollBar::-webkit-scrollbar-thumb:hover{
background:#78b3b8; /*Turquesa Oscuro*/
}
#scrollBar::-webkit-scrollbar-thumb:active{
background-color:#92dbe1;/*Turquesa*/
}
/*#scrollBar::-webkit-scrollbar-track{
border:1px gray solid;
border-radius:10px;
-webkit-box-shadow:0 0 6px gray inset;
}*/
/*box User config*/
#boxUserConfig{
    margin-left:1vh;
    margin-right:1vh;
    border-radius: 15px;
}
#boxUserConfig #header{
    height:6vh;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.headerTitle{
    color:white;
    margin-top: 1vh;
    margin-left: 2vw;
}
.backgroundUserDataBox{
    margin:3vh;
    border-radius: 15px;
    background-color: white;
}