/application/config/
/application/logs/
/ddbb/
/disseny/
/docs/
/fonts/
/tests/
/txt/
/system/
/nbproject/
/vendor/
/img/
/mp3/
/img/pictos/
.htaccess
composer.phar
index.php
composer.lock
composer.json
/application/controllers/Inputfitxer.php
/application/controllers/Autotests.php
/application/controllers/Resultats.php
