/application/config/
/system/
/nbproject/
/vendor/
/img/pictos/
.htaccess
composer.phar
/application/controllers/Inputfitxer.php
/application/controllers/Autotests.php
/application/controllers/Resultats.php