<div>
    <div class="form addWordForm52c5" >
        <div class="addWordFromField addWordFromPaddingH fullheight" style="background-color: #fff;" ng-class="{ReqField: errAdd.erradd1 == true }">
            <div class="row marginTopAdj">
                <div class="col-xs-5 row ">
                    <div class="col-xs-12">
                        MODIF:Masculi Singular
                    </div>
                    <div class="col-xs-12">
                        <input type="text" class="addWordText "  name="mascAdj" ng-model="objAdd.masc"/>
                    </div>
                </div>
                <div class="col-xs-5 row pull-right">
                    <div class="col-xs-12">
                        MODIF:Femeni Singular
                    </div>
                    <div class="col-xs-12">
                        <input type="text" class="addWordText"  name="femAdj" ng-model="objAdd.fem"/>
                    </div>
                </div>
                
            </div>
            <div class="row marginTopAdj">
                <div class="col-xs-5 row">
                    <div class="col-xs-12 ">
                        MODIF:Masculi Plural
                    </div>
                    <div class="col-xs-12 ">
                        <input type="text" class="addWordText"  name="mascplAdj" ng-model="objAdd.mascpl"/>
                    </div>
                </div>
                <div class="col-xs-5 row pull-right">
                    <div class="col-xs-12 ">
                        MODIF:Femeni Plural
                    </div>
                    <div class="col-xs-12">
                        <input type="text" class="addWordText"  name="femplAdj" ng-model="objAdd.fempl"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form addWordForm25">
        <div class="addWordFromField addWordFromPadding fullheight row" style="background-color: #fff;">
            <div class="row">
                <div class="col-xs-5 row">
                    <div class="col-xs-6">

                    </div>
                    <div class="col-xs-6">
                        MODIF:SER
                    </div>
                </div>
                <div class="col-xs-7 row">
                    <div class="col-xs-4">
                        <input id="switchAdj1" class="switchclear" type="checkbox" 
                               ng-model="$parent.switchAdj.s1 " ng-show="false">
                        <label for="switchAdj1">&nbsp;</label>
                    </div>
                    <div class="col-xs-7">
                        MODIF:ESTAR
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5 row">
                    <div class="col-xs-6">

                    </div>
                    <div class="col-xs-6">
                        MODIF:1ª persona
                    </div>
                </div>
                <div class="col-xs-7 row">
                    <div class="col-xs-4">
                        <input id="switchAdj2" class="switchclear" type="checkbox" 
                               ng-model="$parent.switchAdj.s2 " ng-show="false">
                        <label for="switchAdj2">&nbsp;</label>
                    </div>
                    <div class="col-xs-7">
                        MODIF:3ª persona
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form addWordForm7c5">
        <div class="addWordFromField fullheight" style="background-color: #fff;">
            <div class="row">
                <div class="col-xs-5 row">
                    <div class="col-xs-2">

                    </div>
                    <div class="col-xs-10">
                        MODIF:NoExpansion
                    </div>
                </div>
                <div class="col-xs-7 row">
                    <div class="col-xs-4">
                        <input id="switchNamesupExp" class="switchclear" type="checkbox" 
                               ng-model="$parent.objAdd.supExp" ng-show="false">
                        <label for="switchNamesupExp">&nbsp;</label>
                    </div>
                    <div class="col-xs-7">
                        MODIF:Expansion
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form addWordForm15">
        <div class="addWordFromField fullheight" style="background-color: #fff;" ng-class="{ReqField: errAdd.erradd2 == true }">
            <div class="has-feedback" style="height: 50%">
                <div class="input-group input-group-auto inputMarginRigth">
                    <span class="input-group-addon"><i class="icon-comments"></i></span>
                    <select
                        class="form-control"
                        name="className"
                        ng-model="formAdjClass"
                        ng-change="addAdjClass(formAdjClass.valueOf())"
                        >
                        <option ng-repeat="x in $parent.classAdj | orderBy:'classType'" value="{{x.classType}}">{{x.adjType}}</option>
                    </select>
                </div>
            </div>
            <div class="inputMarginLeft" style=" height: 50%">
                <table class="table table-condensed taula">
                    <div class="col-xs-4 row" ng-repeat="item in AdjClassList">
                        <div class="col-xs-8 llenguatge" >{{ item.adjType}}</div>
                        <div class="col-xs-4 buto"><a class="icon-minus btn-borrar" ng-click="removeAdjclass($index)"></a></div>
                    </div>
                </table>
            </div>
        </div>
    </div>
</div>