<link rel="stylesheet" type="text/css" href="{{baseurl}}css/style-jc.css">
<link rel="stylesheet" type="text/css" href="{{baseurl}}css/generico.css">
<link rel="stylesheet" type="text/css" href="{{baseurl}}css/addWord.css">
<link rel="stylesheet" type="text/css" href="{{baseurl}}/libraries/scrollbarPanel.css">
<style>html, body, .container-table{height: 100%;height: 100vh;background: url('{{img.fons}}') no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
</style>
<!--menu superior dropdown-->
<div ng-include="'/angular_templates/dropdownMenuBar.html'"></div>
<div id="main" ng-init="testing()" style="background-image: url('/img/srcWeb/patterns/fons.png');background-size:100% 100%">
    <div class="row folderContainer">
        <div class="col-xs-5 imgRounded imgconfirmContainer">
            <div class="row">
                <div class="col-xs-12 imgRounded imgContainer">
                    <div class="fullheight imgRounded paddingContainer" style="background-image: url(img/srcWeb/patterns/pattern4.png)">
                        <div  class="col-xs-offset-3 col-xs-2 paddinFolderButton">
                            <div class=" imgRounded FolderButton" ng-click="">
                                MODIF: nom
                            </div>
                        </div>
                        <div  class="col-xs-offset-2 col-xs-2 paddinFolderButton ">
                            <div class=" imgRounded FolderButton" ng-click="">
                                MODIF: adjectiu
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 imgRounded confirmContainer">
                    <div class="fullheight imgRounded paddingContainer" style="background-image: url(img/srcWeb/patterns/pattern6.png)">
                        <div  class="col-xs-offset-3 col-xs-2 paddinFolderButton">
                            <div class=" imgRounded FolderButton" ng-click="">
                                MODIF: nom
                            </div>
                        </div>
                        <div  class="col-xs-offset-2 col-xs-2 paddinFolderButton ">
                            <div class=" imgRounded FolderButton" ng-click="">
                                MODIF: adjectiu
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-7 addWordContainer">
            <div class="fullheight imgRounded paddingContainer" style="background-image: url(img/srcWeb/patterns/pattern3.png)">
                <div ng-include="'/angular_templates/addWordName.html'"></div>
            </div>
        </div>
    </div>
</div>




