<div>
    <div class="form addWordForm40">
        <div class="addWordFromField fullheight row" style="background-color: #fff;">
            <div class="row">
                <div class="col-xs-5 row">
                        MODIF:INFO
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5 row">
                    <div class="col-xs-6">

                    </div>
                    <div class="col-xs-6">
                        MODIF:MALE
                    </div>
                </div>
                <div class="col-xs-7 row">
                    <div class="col-xs-4">
                        <input id="switchName1" class="switchclear" type="checkbox" 
                               ng-model="objAdd.mf " ng-show="false">
                        <label for="switchName1">&nbsp;</label>
                    </div>
                    <div class="col-xs-7">
                        MODIF:FEMALE
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5 row">
                    <div class="col-xs-6">

                    </div>
                    <div class="col-xs-6">
                        MODIF:SINGULAR
                    </div>
                </div>
                <div class="col-xs-7 row">
                    <div class="col-xs-4">
                        <input id="switchName2" class="switchclear" type="checkbox" 
                               ng-model="$parent.objAdd.singpl" ng-show="false">
                        <label for="switchName2">&nbsp;</label>
                    </div>
                    <div class="col-xs-7">
                        MODIF:PLURAL
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5 row">
                        MODIF:SINGULAR
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5 row">
                    <div class="col-xs-6">

                    </div>
                    <div class="col-xs-6">
                        MODIF:MALE
                    </div>
                </div>
                <div class="col-xs-7 row">
                    <div class="col-xs-4">
                        <input id="switchName1" class="switchclear" type="checkbox" 
                               ng-model="objAdd.mf " ng-show="false">
                        <label for="switchName1">&nbsp;</label>
                    </div>
                    <div class="col-xs-7">
                        MODIF:FEMALE
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5 row">
                    <div class="col-xs-6">

                    </div>
                    <div class="col-xs-6">
                        MODIF:MALE
                    </div>
                </div>
                <div class="col-xs-7 row">
                    <div class="col-xs-4">
                        <input id="switchName1" class="switchclear" type="checkbox" 
                               ng-model="objAdd.mf " ng-show="false">
                        <label for="switchName1">&nbsp;</label>
                    </div>
                    <div class="col-xs-7">
                        MODIF:FEMALE
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5 row">
                        MODIF:PLURAL
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5 row">
                    <div class="col-xs-6">

                    </div>
                    <div class="col-xs-6">
                        MODIF:MALE
                    </div>
                </div>
                <div class="col-xs-7 row">
                    <div class="col-xs-4">
                        <input id="switchName1" class="switchclear" type="checkbox" 
                               ng-model="objAdd.mf " ng-show="false">
                        <label for="switchName1">&nbsp;</label>
                    </div>
                    <div class="col-xs-7">
                        MODIF:FEMALE
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5 row">
                    <div class="col-xs-6">

                    </div>
                    <div class="col-xs-6">
                        MODIF:MALE
                    </div>
                </div>
                <div class="col-xs-7 row">
                    <div class="col-xs-4">
                        <input id="switchName1" class="switchclear" type="checkbox" 
                               ng-model="objAdd.mf " ng-show="false">
                        <label for="switchName1">&nbsp;</label>
                    </div>
                    <div class="col-xs-7">
                        MODIF:FEMALE
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form addWordForm7c5">
        <div class="addWordFromField fullheight" style="background-color: #fff;">
            lorem ipsum
        </div>
    </div>
    <div class="form addWordForm7c5">
        <div class="addWordFromField fullheight" style="background-color: #fff;">
            lorem ipsum
        </div>
    </div>
    <div class="form addWordForm15">
        <div class="addWordFromField fullheight" style="background-color: #fff;">
            lorem ipsum
        </div>
    </div>
    <div class="form addWordForm7c5">
        <div class="addWordFromField fullheight" style="background-color: #fff;">
            lorem ipsum
        </div>
    </div>
    <div class="form addWordForm22c5">
        <div class="addWordFromField fullheight" style="background-color: #fff;">
            <div class="form-group {{state.languageSelected}} has-feedback">
                <div class="input-group input-group-auto inputMarginRigth">
                    <span class="input-group-addon"><i class="icon-comments"></i></span>
                    <select
                        class="form-control"
                        name="languageSelected"
                        ng-model="formData.languageSelected"
                        ng-change="addLanguage(formData.languageSelected)"
                        >
                        <option selected="selected" disabled="disabled" value="">{{ content.language}}</option>
                        <option ng-repeat="option in range(20)" value="{{option.ID_Language}}">{{option.languageName}}</option>
                    </select>
                </div>
                <span class="glyphicon glyphicon-remove form-control-feedback" ng-show=" state.languageSelected == 'has-error'"></span>
                <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="state.languageSelected == 'has-success'"></span>
                <span class="errorcoment" ng-show="state.languageSelected == 'has-error'">{{ content.required}}</span>
                <span class="errorcoment"
                      ng-show="registerForm.languageSelected.$touched && registerForm.languageSelected.$pristine && state.languageSelected == ''">{{ content.required}}</span>  
            </div>
            <div class="inputMarginLeft">
                <table class="table table-condensed taula">
                    <tr ng-repeat="item in languageList">
                        <td class="llenguatge" >{{ item.languageName}}</td>
                        <td class="buto"><a class="icon-minus btn-borrar" ng-click="removeLanguage($index)"></a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>