<div class="topBarDialog"><div class="editTitle">Crea Panells</div><div class="cruz"></div></div>
<div class="dialogContent row" style="margin-top: 2%">
        <input type="text" class="col-xs-offset-2 col-xs-8 dialogText"  name="CreateBoardName" ng-model="CreateBoardData.CreateBoardName" placeholder="{{content.tipnameboard}}"/>
</div>
<div class="row" style="margin-top: 2%">
    <input class="dialogButton col-xs-offset-3 col-xs-2 dialogTitle" type="button" value="confirm" ng-click="confirm();"/>
    <input class="dialogButton col-xs-offset-2 col-xs-2 dialogTitle" type="button" value="close" ng-click="closeThisDialog();"/>
</div>
