<div class="modal fade" id="ConfirmRemoveBoard" role="dialog">
    <div class="modal-dialog">
        <div class="row marginModalTopOwl"><img class="img-owl pull-right" src={{img.lowSorpresaFlecha}}/></div>
        <div class="row" id="boxUserConfig" style="background-image: url({{img.Patterns1_08}})">
            <div id="header" class="row">
                <div class="col-xs-10 headerTitle">{{content.rmboardtitle}}</div>
            </div>
            <div class="row backgroundUserConfigBox">
                <div class="row fonsAlert">
                    <div class="col-xs-12 textCenter">{{content.rmboardtext}} "{{RemoveBoardData.BoardName}}"?</div>
                </div>
                <div class="row dadesUsuariCentre">
                    <div class="col-xs-6">
                        <button type="reset" class="btn-gray pull-left" data-dismiss="modal" ng-click="ConfirmRemoveBoard();">{{content.confirm}}</button>
                    </div>
                    <div class="col-xs-6">
                        <button type="reset" class="btn-gray pull-right" data-dismiss="modal" ng-click="closeThisDialog();">{{content.cancel}}</button>
                    </div>
                </div>
            </div>
        <div class="row verticalMarginTop"></div>
        </div>
    </div>
</div>