<div class="modal fade" id="ConfirmCreateBoard" role="dialog">
    <div class="modal-dialog">
        <div class="row marginModalTopOwl"><img class="img-owl pull-right" src={{img.lowSorpresaFlecha}}/></div>
        <div class="row" id="boxUserConfig" style="background-image: url({{img.Patterns1_08}})">
            <div id="header" class="row">
                <div class="col-xs-10 headerTitle">{{content.nwboardtitle}}</div>
            </div>
            <div class="imgRounded confirmDefPadM">
                <div class="dialogContent imgRounded confirmBackgroundColor" >
                    <div class=" row text-center" style="height: 35%">
                        {{content.nwboardtext}}
                        <input type="text" class="col-xs-offset-2 col-xs-8 dialogText" ng-class=" {'dialogTextDange' : CreateBoardData.CreateBoardName.length <= 0} "  name="CreateBoardName" ng-model="CreateBoardData.CreateBoardName" placeholder="{{content.nwboardtext}}"/>
                    </div>
                    <div class="row" style="height: 20%; margin-left: 20px;">
                        <div class="col-xs-3 text-right paddingTextRight"> {{content.rows}}</div>
                        <select class=" col-xs-2 dropdown-arrow confirm"
                                ng-model="CreateBoardData.height"
                                ng-options="h for h in range(10)"
                                >
                        </select>
                        <div class="col-xs-2 text-right paddingTextRight" style="margin-left: 10px"> {{content.columns}}</div>
                        <select class="col-xs-2 dropdown-arrow confirm"
                                ng-model="CreateBoardData.width"
                                ng-options="w for w in range(10)">
                        </select>
                    </div>
                    <p class="text-center" style="height: 10%">{{content.createBoard}}</p>
                    <div class="row confirmButtons">

                        <input disabled ng-if="CreateBoardData.CreateBoardName.length <= 0" class="dialogButtonDisabled col-xs-offset-3 col-xs-2" type="button" value="{{content.confirm}}"/>
                        <input ng-if="CreateBoardData.CreateBoardName.length > 0" class="dialogButton col-xs-offset-3 col-xs-2" type="button" data-dismiss="modal" value="{{content.confirm}}" ng-click="confirmCreateBoard();"/>
                        <input class="dialogButton col-xs-offset-2 col-xs-2" type="button" value="{{content.cancel}}" data-dismiss="modal" ng-click="closeThisDialog();"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>