<div class="topBarDialog"><div class="editTitle">Copiar Panells</div><div class="cruz"></div></div>
<div class="dialogContent">
    <div class="dialogContent text-center dialogText" style="margin-bottom: 3vh">
        
            <p ng-if="FormData.HWType === 0">
                Eliminar {{FormData.Dnum}} filas?
            </p>
            <p ng-if="FormData.HWType === 1">
                Eliminar {{FormData.Dnum}} columnes?
            </p>
        
    </div>
    <div class="row" style="margin-top: 2%">
        <input class="dialogButton col-xs-offset-3 col-xs-2 dialogTitle" type="button" value="{{content.confirm}}" ng-click="confirm(FormData); $scope.edit()"/>
        <input class="dialogButton col-xs-offset-2 col-xs-2 dialogTitle" type="button" value="{{content.cancel}}" ng-click="closeThisDialog(0); $scope.edit()"/>
    </div>
</div>
