<div class="topBarDialogS"><div class="editTitle">{{content.resizecolrow}}</div><div class="cruzTop"></div></div>
<div class="imgRounded confirmDefPadS">
    <div class="imgRounded confirmBackgroundColor" >
        <div class="confirmContent row" >

            <p ng-if="FormData.HWType === 0" class="text-center col-xs-12 dialogText">
                Eliminar {{FormData.Dnum}} filas?
            </p>
            <p ng-if="FormData.HWType === 1" class="text-center col-xs-12 dialogText">
                Eliminar {{FormData.Dnum}} columnes?
            </p>

        </div>
        <div class="row confirmButtons">
            <input class=" dialogButton col-xs-offset-3 col-xs-2" type="button" value="{{content.confirm}}" ng-click="confirm();"/>
            <input class=" dialogButton col-xs-offset-2 col-xs-2" type="button" value="{{content.cancel}}" ng-click="closeThisDialog();"/>
        </div>
    </div>
</div>