
<div class="row fullheight">
    <p>{{Editinfo.pictoid}}</p>
    <div class="col-xs-6">
        <div class="row">
            tipo
        </div>
        <div class="row">
            <form name="cellType">
                <label>
                    <input type="radio" ng-model="cellType" ng-click="getFunctions(cellType);" value="picto"/>
                    pictograma
                </label>
                <label>
                    <input type="radio" ng-model="cellType" ng-click="getFunctions(cellType);" value="frase" ng-checked="isSelected('function')"/>
                    frase
                </label>
                <label>
                    <input type="radio" ng-model="cellType" ng-click="getFunctions(cellType);" value="history"/>
                    carpeta d'historial
                </label>
            </form>
        </div>
        <div class="row">
            <div class="col-xs-6">
                Funcio
            </div>
            <div class="col-xs-6">
                <select
                ng-model="funcType"
                ng-options="f.functNameCA for f in functions track by f.ID_Function"
                ng-value="f.ID_Function">
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                Funcio
            </div>
            <div class="col-xs-6">
                <select 
                ng-model="boardsGroup"
                ng-options="b.Bname for b in boards track by b.ID_Board"
                ng-value="b.ID_Boardb">
                </select>
            </div>
        </div>
    </div>
    <div class="col-xs-6" style="height: 50%">
        <img width="100%" height="100%" src="{{baseurl}}img/pictos/{{Editinfo.imgPicto}}"/>
    </div>
    <div class="col-xs-6">
        <button class="btn-success" ng-click="aceptar(boardsGroup.valueOf(), funcType.valueOf())">aceptar</button>
    </div>
</div>
