
<div class="col-xs-{{12-editViewWidth}} fullheight">
    <div class="fullheight imgRounded " style="background-image: url({{baseurl}}img/srcWeb/Patterns1-12.png)">
        <div class="topBar"><div class="editTitle">{{content.mypanells}}</div></div>
        <div id="paddingFolder">
            <div  class="col-xs-2">
                <div class=" imgRounded FolderButton" ng-click="copyBoard()">
                    {{content.cpboard}}
                </div>
            </div>

            <div  class="col-xs-2">
                <div class=" imgRounded FolderButton" ng-click="CreateBoard()">
                    {{content.nwboard}}
                </div>
            </div>
            <div  class="col-xs-2">
                <div class=" imgRounded FolderButton" ng-click="RemoveBoard()">
                    {{content.rmboard}}
                </div>
            </div>
            <div  class="col-xs-2">
            </div>
            <div class=" imgRounded col-xs-4">
                <select class="boxEdit dropdown-arrow" 
                        ng-model="selectBoard"
                        ng-options="b.Bname for b in allBoards track by b.ID_Board"
                        ng-change="changeBoard(selectBoard.valueOf())">
                </select>
            </div>
        </div>
    </div>
</div>
<div  class="col-xs-{{editViewWidth}} fullheight colorMargin">
    <div class="fullheight imgRounded" style="background-image: url({{baseurl}}img/srcWeb/Patterns1-12.png)">
        <select class="boxEdit dropdown-arrow color" style="background-color: #{{colorPaintingSelected}};" ng-model="colorPaintingSelected" ng-change="changePaintingColor(colorPaintingSelected)">
            <option ng-repeat="color in ['ffffff', 'ffd751', 'ff5927', '41c426', 'f73b5e', '67b5cb']"
                    style="background-color: #{{color}};"
                    ng-value="color">        </option>
        </select>
        <div class="imgRounded FolderButton" ng-click="startPainting()">
            {{content.start}}
        </div>
        <div class="imgRounded FolderButton" ng-click="stopPainting()">
            {{content.stop}}
        </div>
    </div>
</div>
