
<div class="col-xs-{{12 - editViewWidth}} fullheight">
    <div class="fullheight imgRounded paddingFolder" style="background-image: url({{baseurl}}img/srcWeb/Patterns1-12.png)">
        <div class="col-xs-8 folderButtons row">
            <div  class="col-xs-4 paddinFolderButton">
                <div class=" imgRounded FolderButton" ng-click="copyBoard()">
                    {{content.cpboard}}
                </div>
            </div>

            <div  class="col-xs-4 paddinFolderButton">
                <div class=" imgRounded FolderButton" ng-click="CreateBoard()">
                    {{content.nwboard}}
                </div>
            </div>
            <div  class="col-xs-4 paddinFolderButton">
                <div class=" imgRounded FolderButton" ng-click="RemoveBoard()">
                    {{content.rmboard}}
                </div>
            </div>
        </div>
        <div class=" imgRounded col-xs-4 selectFolder">
            <select class="folderBox dropdown-arrow" 
                    ng-model="selectBoard"
                    ng-options="b.Bname for b in allBoards track by b.ID_Board"
                    ng-change="changeBoard(selectBoard.valueOf())">
            </select>
        </div>

    </div>
</div>
<div  class="col-xs-{{editViewWidth}} fullheight colorMargin">
    <div class="fullheight imgRounded colorFolderPadding" style="background-image: url({{baseurl}}img/srcWeb/Patterns1-09.png)">
        <div class="col-xs-7">
            <select class="folderBox dropdown-arrow color" style="background-color: #{{colorPaintingSelected}};" ng-model="colorPaintingSelected" ng-change="startPainting(); changePaintingColor(colorPaintingSelected);">
                <option ng-repeat="color in ['ffffff', 'ffd751', 'ff5927', '41c426', 'f73b5e', '67b5cb']"
                        style="background-color: #{{color}}"
                        ng-value="color">        </option>
            </select>
        </div>
        <div class="col-xs-5">
            <div class="imgRounded colorFolderButtonDown" ng-click="startPainting()" ng-if="!painting">
                {{content.start}}
            </div>
            <div class="imgRounded colorFolderButton" ng-click="stopPainting()" ng-if="painting">
                {{content.stop}}
            </div>
        </div>
    </div>
</div>
