
<div class="row fullheight">
    <p>{{info.pictoid}}</p>
    <div class="col-xs-6">
        <div class="row">
            tipo
        </div>
        <div class="row">
            <form name="cellType">
                <label>
                    <input type="radio" ng-model="cellType" ng-click="getFunctions(cellType);" value="picto"/>
                    pictograma
                </label>
                <label>
                    <input type="radio" ng-model="cellType" ng-click="getFunctions(cellType);" value="frase" ng-checked="isSelected('function')"/>
                    frase
                </label>
                <label>
                    <input type="radio" ng-model="cellType" ng-click="getFunctions(cellType);" value="history"/>
                    carpeta d'historial
                </label>
            </form>
        </div>
        <div class="row">
            <div class="col-xs-6">
                Funcio
            </div>
            <div class="col-xs-6" ng-init="getFunctions()">
                <select
                ng-model="funcType"
                ng-options="n.functNameCA for n in functions"
                ng-value="{{n.ID_Function}}">
                </select>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <img width="100%" height="100%" src="{{baseurl}}img/pictos/{{info.imgPicto}}"/>
    </div>
</div>
