<div class="fullheight bg-success">
    
    <div class='row fullheight'>       
        <div class='col-xs-4' style="height: 30%">
            <img class="fullheight" width="100%" height="100%" src="http://localhost/jocomunicoapp/img/pictos/nada.png" ng-drop="true"  ng-drop-success="onDropRemove($data,$event)"/>
        </div>
        <div class='col-xs-8 text-center' style="height: 30%">
            <input type="text" class="fullheight text-center" width="100%" height="100%" name="NameBoard" ng-model="$parent.BoardName" ng-value="nameboard" ng-change="changeNameBoard($parent.BoardName)" ng-blind-html="amplada" />
        </div>
        <div class='col-xs-6 text-center' style="height: 23%">
            Altura
            <select
                ng-model="altura"
                ng-options="h for h in range(20)"
                ng-change='changeSize(altura.valueOf(), amplada.valueOf(), "0");'>
            </select>
        </div>
        <div class='col-xs-6 text-center' style="height: 23%">
            Amplada
            <select
                ng-model="amplada"
                ng-options="w for w in range(20)"
                ng-change='changeSize(altura.valueOf(),amplada.valueOf(), "1");'>
            </select>
        </div>
        <div class='col-xs-12 text-center' style="height: 23%">
            Panell Principal
            <select
                ng-model="primaryBoard"
                ng-options="b.Bname for b in allBoards track by b.ID_Board"
                ng-value="b.ID_Board"
                ng-change="changePrimaryBoard(primaryBoard.valueOf())">
            </select>
        </div>
        <div class='col-xs-12 text-center' style="height: 23%">
            ((!))Retorn automatic<input type="checkbox" value="Auto-retorn"/>
        </div>
    </div>

</div>
