<div id="paddingFolder" class="row fullheight imgRounded" style="background-image: url({{baseurl}}img/srcWeb/Patterns1-12.png)">
    <div  class="col-xs-2">
        <div class="fullheight imgRounded FolderButton" ng-click="copyBoard">
            {{$parent.content.cpboard}}
        </div>
    </div>
    <div  class="col-xs-2">
        <div class="fullheight imgRounded FolderButton" ng-click="">
            {{$parent.content.mvboard}}
        </div>
    </div>
    <div  class="col-xs-2">
        <div class="fullheight imgRounded FolderButton" ng-click="">
            {{$parent.content.nwboard}}
        </div>
    </div>
    <div  class="col-xs-2">
        <div class="fullheight imgRounded FolderButton" ng-click="">
            {{$parent.content.rmboard}}
        </div>
    </div>
    <div  class="col-xs-2">
        <div class="fullheight imgRounded col-xs-4">
            {{content.rows}}
                <select class="dropdown-arrow"
                        ng-model="altura"
                        ng-options="h for h in range(20)">
                </select>
        </div>
    </div>
</div>