<!-- This view is the main board where the picto will be shown. In addition it 
     includes others view like sentece, edit (board/cell) panel, etc etc
-->
<link rel="stylesheet" href="css/historic.css"/>
<audio id="utterance" src="{{sound}}" type="audio/mp3"></audio>
<style>html, body, .container-table{height: 100%;height: 100vh;background: url('{{img.fons}}') no-repeat center center fixed;
                             -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
    </style>

    <script>

        var myVar;
        var exit = 0;
        function audiohallelujah() {
            console.log("audio");
            var aux = document.getElementById('utterance');
            aux.src = "mp3/empty.m4a";
            var audiotoplayinitial = aux.src;
            var myVar = setInterval(function () {
                waitloop(audiotoplayinitial, myVar)
            }, 500);
        }

        function waitloop(audiotoplayinitial, myVar) {
            var aux = document.getElementById('utterance');
            var audiotoplayfinal = aux.src;
            if (audiotoplayinitial !== audiotoplayfinal) {
                exit = 0;
                aux.play();
                clearInterval(myVar);
            }

            exit = exit + 1;
            if (exit > 8) {
                exit = 0;
                clearInterval(myVar);
            }
        }
    </script>

    <!--menu superior dropdown-->
    <div id="main" style="background-image: url('/img/srcWeb/patterns/fons.png');background-size:100% 100%">
    <div class="row historicView">
        <div class="col-xs-12 containerHistory" >
            <div class="col-xs-1 fullheight">
                <div class="backgroundBack" ng-click="back();">
                    <img class="imgResponsiveBack icon " ng-src="{{baseurl}}img/srcWeb/Menu/enradera_icon.png"/>
                </div>
            </div>
            <div class="col-xs-1 fullheight">
                <div class="backgroundHome" ng-click="home();">
                    <img class="imgResponsive icon " ng-src="{{baseurl}}img/srcWeb/Menu/inici_icon.png"/>
                </div>
            </div>
            <div class="col-xs-10 holderButtons">
                <div class="col-xs-4 buttonPadding" ng-click="getTodayHistory();">
                    <div class="timeButton">
                        <div class="col-xs-8 fullheight">
                            <div class="buttonText">{{content.today}}</div>
                        </div>
                        <div class="col-xs-4 fullheight">
                            <img class="imgResponsive icon" ng-src="/img/pictosespeciales/hoy.png"/>

                        </div>
                    </div>
                </div>
                <div class="col-xs-4 buttonPadding" ng-click="getLastWeekHistory();">
                    <div class="timeButton">
                        <div class="col-xs-8 fullheight">
                            <div class="buttonText">{{content.lastWeek}}</div>
                        </div>
                        <div class="col-xs-4 fullheight">
                            <img class="imgResponsive icon" ng-src="/img/pictosespeciales/hoy.png"/>

                        </div>
                    </div>
                </div>
                <div class="col-xs-4 buttonPadding" ng-click="getLastMonthHistory();">
                    <div class="timeButton">
                        <div class="col-xs-8 fullheight">
                            <div class="buttonText">{{content.lastMonth}}</div>
                        </div>
                        <div class="col-xs-4 fullheight">
                            <img class="imgResponsive icon" ng-src="/img/pictosespeciales/hoy.png"/>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- MODIF: Poner nombre de lo que hace. -->
        <div class="col-xs-12 containerHistory" >
            <div class="col-xs-11 holderButtons">
                <div class="col-xs-3 buttonPadding" ng-repeat="sFolder in sFolderResult | limitTo:pagSFolder + 4" ng-if="$index >= pagSFolder" ng-click="changeFolder();">
                    <div class="folderHistoryButton">
                        <div class="col-xs-8 fullheight">
                            <div class="buttonText">{{sFolder.folderName}}</div>
                        </div>
                        <div class="col-xs-4 fullheight">
                            <img class="imgResponsive icon" ng-src="{{sFolder.imgSFolder}}"/>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-1 fullheight">
                <div class="col-xs-6 fullheight">
                    <div class="backgroundBack" ng-click="previousSFoler();" style="right:0px">
                        <img class="imgResponsiveBack icon " ng-src="{{baseurl}}img/srcWeb/Menu/enradera_icon.png"/>
                    </div>
                </div>
                <div class="col-xs-6 fullheight">
                    <div class="backgroundBack" ng-click="nextSFolder();" style="right:0px">
                        <img class="imgResponsiveBack icon " ng-src="{{baseurl}}img/srcWeb/Menu/endavant_icon.png"/>
                    </div>
                </div>
            </div>
        </div>

        <!--MODIF: otro nombre -->
        <div class="col-xs-12 historicContainer" style="background-image: url({{img.Patterns1_08}})">
            <div class="col-xs-12 scrollHistory" ng-scrollbar rebuild-on-resize rebuild-on="rebuild:me" is-bar-shown="isScroll">

            </div>
        </div>  

    </div>
</div>
