<link rel="stylesheet" type="text/css" href="css/login.css">
<link rel="stylesheet" type="text/css" href="css/responsiveForm.css">
<div class="row barraSuperior"></div>
<div class="container container-table">
    <div class="row vertical-center-row">
        <form name="loginForm" ng-submit="login(loginForm)">
            <div class="col-xs-8 col-xs-offset-2 boxLogin">
                <div class="row barraBoxLogin">
                    <div class="col-xs-6">
                        <div class="textResponsiveBarra">{{content.login}} &nbsp;<image class="imatgeClau" ng-src="/img/srcWeb/Login/clau.png"/></div>
                    </div>
                    <div class="col-xs-6">
                        <button
                            type="button"
                            class="icon-globe btn-idioma"
                            ng-click="changeContentLanguage()"> &nbsp;{{languageNameNext}}
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2">
                        <div class="row margeSuperiorUser">
                            <div class="form-group {{state}} has-feedback">
                                <div class="input-group input-group-auto">
                                    <span class="input-group-addon"><i class="icon-user"></i></span>
                                    <input class="form-control" type="text" name="user" placeholder={{content.user}} ng-change="changeFormSate('user')" ng-model="username" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group {{state}} has-feedback">
                                <div class="input-group input-group-auto">
                                    <span class="input-group-addon"><i class="icon-unlock-alt"></i></span>
                                    <input class="form-control" type="password" name="pass" placeholder={{content.pass}} ng-change="changeFormSate('pass')" ng-model="password" required/>
                                </div>
                            </div>
                        </div>
                        <div class="row comentariError">
                            <span class="errorcoment" ng-show="state=='has-error'">{{content.incorrect}}</span>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 butoRegistret">
                                <a href="/#/register">{{content.register}}</a>
                            </div>
                            <div class="col-xs-9 recuperacioContrasenya">
                                <a href="#">{{content.forgotPass}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2 boxButo">
                <div class="buto">
                    <div class="col-xs-2 triangle">
                        <image class="imgTriangle" alt="Responsive image" src="/img/srcWeb/Login/fletxaLogin2.png" />
                    </div>
                    <div class="col-xs-10">
                        <div id="divID" ng-init="imgsrc='/img/srcWeb/Login/BotoEntra.png'" ng-mouseover="imgsrc='/img/srcWeb/Login/BotoEntra2.png'" ng-mouseout="imgsrc='/img/srcWeb/Login/BotoEntra.png'">
                            <input type="image" class="img img-rounded" alt="Responsive image" ng-src="{{imgsrc}}" ng-click="login()">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
