<div class="modal fade" id="logoutModal" role="dialog">
    <div class="modal-dialog">
        <div class="row marginModalTopOwl"><img class="img-owl pull-right" src={{img.lowSorpresaFlecha}}/></div>
        <div class="row" id="boxUserConfig" style="background-image: url({{img.Patterns1_08}})">
            <div id="header" class="row">
                <div class="col-xs-10 headerTitle">{{logoutContent.title}}</div>
            </div>
            <div class="row backgroundUserConfigBox">
                <div class="row fonsAlert">
                    <div class=" row text-center" style="height: 35%">
                        {{content.nwboardtext}}
                        <input type="text" class="col-xs-offset-2 col-xs-8 dialogText" ng-class=" {'dialogTextDange' : CreateBoardData.CreateBoardName.length <= 0} "  name="CreateBoardName" ng-model="CreateBoardData.CreateBoardName" placeholder="{{content.nwboardtext}}"/>
                    </div>
                    <div class="row" style="height: 20%; margin-left: 20px;">
                        <div class="col-xs-3 text-right paddingTextRight"> {{content.rows}}</div>
                        <select class=" col-xs-2 dropdown-arrow confirm"
                                ng-model="CreateBoardData.height"
                                ng-options="h for h in range(10)"
                                >
                        </select>
                        <div class="col-xs-2 text-right paddingTextRight" style="margin-left: 10px"> {{content.columns}}</div>
                        <select class="col-xs-2 dropdown-arrow confirm"
                                ng-model="CreateBoardData.width"
                                ng-options="w for w in range(10)">
                        </select>
                    </div>
                </div>
                <div class="row dadesUsuariCentre">
                    <div class="col-xs-6">
                        <button type="reset" class="btn-gray pull-left" data-dismiss="modal" ng-click="logout();">{{logoutContent.confirm}}</button>
                    </div>
                    <div class="col-xs-6">
                        <button type="reset" class="btn-gray pull-right" data-dismiss="modal">{{logoutContent.cancel}}</button>
                    </div>
                </div>
            </div>
            <div class="row verticalMarginTop"></div>
        </div>
    </div>
</div>