<!-- This view is the main board where the picto will be shown. In addition it 
     includes others view like sentece, edit (board/cell) panel, etc etc
-->
<div class="fullheight row" ng-init="config(4)" style="padding: 5vh;">

    <div id="userview" class="col-xs-{{userViewWidth}}" style="height:{{userViewHeight}}%" >
        <div id="sentenceView" class="container-fluid Defmargin" ng-if="sentenceViewTop && !inEdit" style="height:{{sentenceViewHeight}}%">
            <div class="row fullheight" ng-include="baseurl + '/angular_templates/SentenceView.html'">                     
            </div>
        </div>
        
        <div class="container-fluid Defmargin" ng-init="showBoard('0')" style="height:{{boardHeight}}%">
            <div class="row fullheight imgRounded Defpadding" style="background-image: url({{baseurl}}img/srcWeb/Patterns1-08.png)">

                <div class="col-xs-12 containerCell" ng-repeat="picto in data" ng-style="{'width':'{{100 / columns}}%','height':'{{100 / rows}}% '}">
                    <div class="contentCell" ng-style="{'background-color':'#{{picto.color}}'}">
                        <img ng-if="picto.imgCell && (picto.activeCell == 1 || (picto.activeCell == 0 && inEdit))" class="imgResponsive" width="100%" height="100%" src="{{picto.imgCell}}"  ng-click="clickOnCell(picto)" ng-right-click="openEditCellMenu({{picto.posInBoard}});" ng-drop="inEdit" ng-drop-success="onDropSwap({{picto.posInBoard}},$data,$event)" ng-drag="inEdit" ng-drag-data="{posInBoardPicto:'{{picto.posInBoard}}'}" data-allow-transform="true"/>
                        <!-- If there is an image this line mades it draggable and dropable.
                             Only if we are in edit mode-->
                        <img ng-if="picto.imgPicto && !picto.imgCell && (picto.activeCell == 1 || (picto.activeCell == 0 && inEdit))" width="100%" height="100%" src="{{baseurl}}img/pictos/{{picto.imgPicto}}" class="imgResponsive"  ng-click="clickOnCell(picto);" ng-right-click="openEditCellMenu({{picto.posInBoard}});" ng-drop="inEdit" ng-drop-success="onDropSwap({{picto.posInBoard}},$data,$event)" ng-drag="inEdit" ng-drag-data="{posInBoardPicto:'{{picto.posInBoard}}'}" data-allow-transform="true"/>
                        <!-- If not, puts a "empty image" and mades it dropable
                             Only if we are in edit mode-->
                        <div ng-if="!picto.imgPicto && !picto.imgCell || (picto.activeCell == 0 && !inEdit)" ng-drop="inEdit" ng-drop-success="onDropSwap({{picto.posInBoard}},$data,$event)"  class="emptyImg imgResponsive" ng-right-click="openEditCellMenu({{picto.posInBoard}});"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="inEdit" class="col-xs-{{editViewWidth}} fullheight" style="height:{{userViewHeight}}%">
        <div id="trashview" class="row fullheight">
            <div class="col-sm-12" ng-include="baseurl+'/angular_templates/EditViewTrash.html'">
                
            </div>
        </div>
        <div id="searchView" class="row fullheight">
            <div class="col-sm-12" ng-include="baseurl + '/angular_templates/EditView.html'">

            </div>
        </div>
    </div>
        
    <div ng-if="inEdit" class="col-sm-12" id="searchFolder" ng-include="baseurl + '/angular_templates/EditFolder.html'" style="height: {{searchFolderHeight}}%">
    </div>
</div>
</div>




