<!-- This view is the main board where the picto will be shown. In addition it 
     includes others view like sentece, edit (board/cell) panel, etc etc
-->

    <div id="header" class="container-fluid text-center row">
        <div id="menuText" class="col-xs-offset-2 col-xs-10">
            <div class="col-xs-2" ng-click="editMenu();">
                Edita panell
            </div>
            <div class="col-xs-1">
                Grups
            </div>
            <div class="col-xs-3" ng-click="userConfig();">
                Configuracio d'usuari
            </div>
            <div class="col-xs-offset-1 col-xs-1" ng-click="home();">
                Inici
            </div>
            <div class="col-xs-1"  ng-click="logOut();">
                Log out
            </div>
            <div class="col-xs-1"  ng-click="IniciScan();">
                Scan
            </div>
        </div>
    </div>




