<link rel="stylesheet" type="text/css" href="{{baseurl}}css/panelGroup.css">
<link rel="stylesheet" type="text/css" href="{{baseurl}}css/generico.css">
<link rel="stylesheet" type="text/css" href="{{baseurl}}css/editHistorialFolder.css">
<link rel="stylesheet" type="text/css" href="{{baseurl}}/libraries/scrollbarPanel.css">
<div ng-include="'/angular_templates/logoutModal.html'"></div>
<div ng-include="'/angular_templates/ConfirmCopyGroupBoard.html'"></div>
<div ng-include="'/angular_templates/ConfirmEditAddWord.html'"></div>
<div ng-include="'/angular_templates/editHistoricFolder.html'"></div>

<style>html, body, .container-table{height: 100%;height: 100vh;background: url('{{img.fons}}') no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
</style>
<!--menu superior dropdown-->
<div ng-include="'/angular_templates/dropdownMenuBar.html'"></div>
<div ng-include="'/angular_templates/ConfirmCreateGroupBoard.html'"></div>

<div class="row folderContainer">
    <div class="row">
        <!--Panel Groups box-->
        <div class="col-xs-6 rightPadding">
            <div class="panelGroupContainer" id="boxUserConfig" style="background-image: url({{img.Patterns1_08}})">
                <div id="header" class="row">
                    <div class="col-xs-10 headerTitle">{{logoutContent.title}}</div>
                </div>
                <div class="row">
                    <div ng-if="finished" class="col-xs-offset-1 scrollMenuPanels" ng-style="!isScroll ? {'width':'98%'} : {'width':'84%'}" ng-scrollbar rebuild-on-resize rebuild-on="rebuild:me" is-bar-shown="isScroll">
                        <div class="scrollWidth">
                            <div class="col-xs-12 buttonAddFolder" ng-click="newPanellGroup()">+</div>
                            <div class="col-xs-12 panelContainer" ng-repeat="panel in panels" on-Finish-Loop="scrollbarPanel">
                                <div class="col-xs-8 text-center fullheight">
                                    <input type="text" class="form-control text-center panelTitle"  name="NameBoard" ng-model="panel.GBname" ng-value="panel.GBname" ng-change="changeGroupBoardName(panel.GBname, panel.ID_GB)"/>
                                </div>
                                <div class="col-xs-4 editaPanel text-center" ng-click="editPanel(panel.ID_GB)">
                                    {{content.edit}} <img ng-src="{{baseurl}}/img/icons/edit_blanc.png" width="15%" height="50%"/>
                                </div>
                                <div ng-if="panel.primaryGroupBoard == 0" class="col-xs-4 noPrimaryPanel text-center" ng-click="setPrimary(panel.ID_GB)">
                                    {{content.makePrimary}}
                                </div>
                                <div ng-if="panel.primaryGroupBoard == 1" class="col-xs-4 primaryPanel text-center">
                                    {{content.primary}}
                                </div>
                                <div class="col-xs-4 nouPanel text-center" ng-click="copyGroupBoard(panel.ID_GB)">
                                    {{content.new}} <img ng-src="{{baseurl}}/img/icons/file_blanc.png" width="15%" height="50%"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="!finished"></div>
                </div>
            </div>
        </div>
        <!--historical box-->
        <div class="col-xs-6 leftPadding">
            <div class="historicContainer" id="boxUserConfig" style="background-image: url({{img.Patterns4}})">
                <div id="header" class="row">
                    <div class="col-xs-10 headerTitle">{{logoutContent.title}}</div>
                </div>
                <div class="row">
                    <div class="col-xs-offset-1 scrollMenuPanels" ng-style="!isScrollH ? {'width':'98%'} : {'width':'84%'}" ng-scrollbar rebuild-on-resize rebuild-on="rebuild:meH" is-bar-shown="isScrollH">
                        <div class="scrollWidth">
                            <div class="row buttonAddFolder" ng-click="createHistoricFolder()">+</div>
                            <div class="row histFolder" ng-repeat="folder in historicFolders" on-Finish-Loop="scrollbarHistoric"><div class="row"><div class="col-xs-2 histTabFolder" style="background-color: #{{folder.folderColor}}"></div></div>
                                <div class="row"><div class="col-xs-12 histContentFolder" style="background-color: #{{folder.folderColor}}">
                                        <div class="row">
                                            <div class="col-xs-3"><img class="img-rounded imgHistFolder" ng-src="{{folder.imgSFolder}}"/></div>
                                            <div class="col-xs-6 folderTitle">{{folder.folderName}}</div>
                                            <div class="col-xs-3 folderEditBigButton" ng-click="goSentencesFolder(folder.ID_Folder)" ng-show="folder.ID_Folder<0" >Entra <div class="icon-folder-open"></div></div>
                                            <div class="col-xs-3" ng-show="folder.ID_Folder>0">
                                                <img class="loadingGifTransparent" ng-show="!showUpDownButtons" ng-src={{img.whiteLoading}}/>
                                                <div class="row folderUpButton" ng-class="{transparent: !showUpDownButtons}" ng-click="upFolder(folder.folderOrder,folder.ID_Folder)">Mou <div class="icon-circle-arrow-up"></div></div>
                                                <div class="row folderEditButton" ng-class="{transparent: !showUpDownButtons}" ng-click="goSentencesFolder(folder.ID_Folder)">Edita <div class="icon-pencil"></div></div>
                                                <div class="row folderDownButton" ng-class="{transparent: !showUpDownButtons}" ng-click="downFolder(folder.folderOrder,folder.ID_Folder)">Mou <div class="icon-circle-arrow-down"></div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!--Add word box-->
        <div class="col-xs-12 addWordContainer" id="boxUserConfig" style="background-image: url({{img.Patterns6}})">
            <div id="header" class="row">
                <div class="col-xs-10 headerTitle">{{logoutContent.title}}</div>
            </div>
            <div class="row marginTopFolderButtons">
                <div  class="col-xs-offset-1 col-xs-2">
                    <div class=" imgRounded FolderButton" ng-click="addWord(1, 'name')">
                        MODIF: nom
                    </div>
                </div>
                <div  class="col-xs-offset-2 col-xs-2">
                    <div class=" imgRounded FolderButton" ng-click="addWord(1, 'adj')">
                        MODIF: adjectiu
                    </div>
                </div>
                <div  class="col-xs-offset-2 col-xs-2">
                    <div class=" imgRounded FolderButton" ng-click="addWord(0, 'edit')">
                        MODIF: editar
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




