
<div class="row fullheight imgRounded" style="background-image: url({{baseurl}}img/srcWeb/Patterns1-12.png)">
    <div ng-if='inScan && isScanning == "prediction" && currentScanBlock == 1 && isScanningCancel === false' class="scaneo" ng-style="{'margin': '0px'}"></div>

    <div class="col-xs-12 containerPredCell" ng-repeat="picto in recommenderArray| limitTo: cfgPredBarNumPred" style="height: {{100 / 7}}%" >

        <!--         If there is an custom image this line mades it draggable and dropable.
                     Only if we are in edit mode-->
        <div class="contentPredCell" ng-click="isClickEnable()?addToSentence(picto.pictoid, picto.imgPicto,picto.pictotext):null;" ng-mouseenter="cfgTimeOverOnOff?TimeoutOverClick(1,picto.pictoid):null" ng-mouseleave="cfgTimeOverOnOff?CancelTimeoutOverClick():null">
            <div ng-if="inScan && isScanning == 'prediction' && currentScanBlock == 2 && picto.pictoid == arrayScannedCells[indexScannedCells].pictoid && isScanningCancel === false" class="scaneo"></div> 
            <div ng-if="cfgTextInCell && picto.pictotext" class="textCell" ng-style="{'height':'30 % '}">{{picto.pictotext}}</div>
            <div ng-style="cfgTextInCell ? {'height':'70%'}:{'height':'100%'}">
                <img ng-src="{{baseurl}}img/pictos/{{picto.imgPicto}}" class="imgResponsive"/>
            </div>
        </div>
    </div>
</div>

