<link rel="stylesheet" type="text/css" href="css/register.css">
<br>
<div class="container">
 
  <form name="register" class="form form-horizontal col-xs-6 col-xs-offset-3" ng-controller="RegisterCtrl">
    
    <legend class="row">
      <h2 class="col-xs-10">{{ content.title }}</h2>
      <div class="col-xs-2">
        <img class="img-responsive img-rounded" alt="Responsive image" ng-src="{{imgFlag}}" ng-click="language = !language; changeLanguage()">
      </div>
    </legend>

    <div class="col-xs-6">
      <div class="col-xs-11">
        <div class="form-group row">
          <label for="user">{{ content.user }}</label>
          <input 
            type="text" 
            class="form-control" 
            placeholder="{{ content.user }}" 
            name="user" 
            ng-model="formData.user" 
            required ng-class="{ error: !register.user.$pristine && register.user.$error.required }">
          <span 
            style="color:red" 
            ng-show="register.user.$invalid && register.user.$dirty">Name is required.</span>
        </div>
      
        <div class="form-group row">
          <label for="pass1">{{ content.pass }}</label>
          <input 
            type="text" 
            class="form-control" 
            placeholder="{{ content.pass }}" 
            name="pass1" 
            ng-model="formData.pass1" 
            required ng-class="{ error: !register.pass1.$pristine && register.pass1.$error.required }">
          <span 
            style="color:red" 
            ng-show="register.pass1.$invalid && register.pass1.$dirty">Name is required.</span>
        </div>

        <div class="form-group row">
          <label for="pass2">{{ content.pass }}</label>
          <input 
            type="text" 
            class="form-control" 
            placeholder="{{ content.pass }}" 
            name="pass2" 
            ng-model="formData.pass2" 
            required ng-class="{ error: !register.pass2.$pristine && register.pass2.$error.required }">
          <span 
            style="color:red" 
            ng-show="register.pass2.$invalid && register.pass2.$dirty">Name is required.</span>
        </div>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="col-xs-11 col-xs-offset-1">
        <div class="form-group row">
          <label for="name">{{ content.name }}</label>
          <input 
            type="text" 
            class="form-control" 
            placeholder="{{ content.name }}" 
            name="name" 
            ng-model="formData.name" 
            required ng-class="{ error: !register.name.$pristine && register.name.$error.required }">
          <span 
            style="color:red" 
            ng-show="register.name.$invalid && register.name.$dirty">Name is required.</span>
        </div>

        <div class="form-group row">
          <label for="lastname">{{ content.lastname }}</label>
          <input 
            type="text" 
            class="form-control" 
            placeholder="{{ content.lastname }}" 
            name="lastname" 
            ng-model="formData.lastname" required 
            ng-class="{ error: !register.lastname.$pristine && register.lastname.$error.required }">
          <span 
            style="color:red" 
            ng-show="register.lastname.$invalid && register.lastname.$dirty">Name is required.</span>
        </div>

        <div class="form-group row">
          <label for="email">{{ content.mail }}</label>
          <input 
            type="email" 
            class="form-control" 
            placeholder="example@email.com" 
            name="email" 
            ng-model="formData.email" required 
            ng-class="{ error: !register.email.$pristine && register.email.$error.required, warning: register.email.$error.email }">
          <span 
            style="color:red" 
            ng-show="!register.email.$pristine && register.email.$error.required">Email is required</span>
          <span 
            style="color:orange" 
            ng-show="!register.email.$pristine && register.email.$error.email">Please enter a valid email</span>
        </div>
      </div>
    </div>

    <div class="row">
      <a class="btn btn-info" href="#/login" role="button">{{ content.exitbutton }}</a>
      <button type="reset" class="btn btn-danger">{{ content.resetbutton }}</button> <!--NO BORRA EL FORMULARI -->
      <button type="submit" class="btn btn-success pull-right" ng-click="submitForm(formData)">{{ content.sendbutton }}</button>
    </div>
  </form>
</div>
