<div ng-if="inScan && currentScanBlock == 1 && currentScanBlock1 == 0" class="col-xs-12 scaneoSent" style="height:{{sentenceViewHeight}}%"></div>
<div class="col-xs-1" style="padding-right: 0.6%">
    <div ng-if="inScan && currentScanBlock == 2 && currentScanBlock1 == 0 && currentScanBlock2 == 1" class="scaneo" style="margin: 0px;"></div>
    <img class="imgRounded" width="100%" height="100%" src="{{baseurl}}img/srcWeb/Menu/llegir.jpg" ng-click="generate()"/>
    
</div>

<div class="col-xs-9 prediction imgRounded PaddingSent" style="background-image: url({{baseurl}}img/srcWeb/Patterns1-01.png)">
    <div class="col-xs-12 imgRounded" style="background-image:url({{baseurl}}img/srcWeb/Menu/sentenceField.png); background-size: 100% 100%;">
        <div class="col-xs-offset-1 col-xs-11 fullheight" >
            <div class="col-xs-1" ng-repeat="picto in dataTemp" style="height:75%;">
                <img width="100%" height="100%" src="{{baseurl}}img/pictos/{{picto.img}}"/>
            </div>
            <div ng-if="!info.error" class="col-xs-12">
                {{info.frasefinal}}
            </div>
            <div ng-if="info.error" class="col-xs-12">
                {{info.errormessage}}
            </div>
        </div>
    </div>
</div>

<div class="col-xs-2" style="padding-left: 0.6%">
    <div class="col-xs-6">
        <div ng-if="inScan && currentScanBlock == 2 && currentScanBlock1 == 0 && currentScanBlock2 == 2" class="scaneo" style="margin: 0px;"></div>
        <img class="imgRounded" width="96%" height="100%" src="{{baseurl}}img/srcWeb/Menu/borrar ultim.jpg" ng-click="deleteLast()"/>
    </div>
    <div class="col-xs-6">
        <div ng-if="inScan && currentScanBlock == 2 && currentScanBlock1 == 0 && currentScanBlock2 == 3" class="scaneo" style="margin: 0px;"></div>
        <img class="imgRounded" width="96%" height="100%" src="{{baseurl}}img/srcWeb/Menu/borrar.jpg" ng-click="deleteAll()"/>
    </div>
</div>
