<div class="col-xs-1 speakButton Defpadding">
    <img width="100%" height="100%" src="{{baseurl}}img/srcWeb/Menu/llegir.jpg" ng-click="generate()"/>
</div>

<div class="col-xs-9 prediction" >
    <div class="col-xs-12 fullheight" >
        <div class="col-xs-1" ng-repeat="picto in dataTemp" style="height:75%;">
            <img width="100%" height="100%" src="{{baseurl}}img/pictos/{{picto.img}}"/>
        </div>
        <div ng-if="!info.error" class="col-xs-12">
            {{info.frasefinal}}
        </div>
        <div ng-if="info.error" class="col-xs-12">
            {{info.errormessage}}
        </div>
    </div>
</div>

<div class="col-xs-1 deleteLastButton">
    <button class="btn-success" ng-click="deleteLast()">delete last</button>
</div>

<div class="col-xs-1  deleteAllButton">
    <button class="btn-success" ng-click="deleteAll()">delete all</button>
</div>
