<link rel="stylesheet" type="text/css" href="{{baseurl}}css/generico.css">
<link rel="stylesheet" type="text/css" href="{{baseurl}}css/responsiveForm.css">
<link rel="stylesheet" type="text/css" href="{{baseurl}}css/sentencesFolder.css">
<link rel="stylesheet" type="text/css" href="{{baseurl}}css/editHistorialFolder.css">
<link rel="stylesheet" type="text/css" href="{{baseurl}}/libraries/scrollbarPanel.css">

<style>html, body, .container-table{height: 100%;height: 100vh;background: url('{{img.fons}}') no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
</style>
<!--menu superior dropdown-->
<div ng-include="'/angular_templates/dropdownMenuBar.html'" ng-show="viewActived"></div>
<div ng-include="'/angular_templates/logoutModal.html'"></div>
<div ng-include="'/angular_templates/editHistoricFolder.html'"></div>

<div class="loadingGif" ng-show="!viewActived"><img class="img-loadingGif" ng-src={{img.loading}}/></div>
<div class="row folderContainer" ng-show="viewActived">
    <div class="row">
        <!--Folder box-->
        <div class="col-xs-10 col-lg-offset-1">
            <div class="boxSentencesFolder" id="boxUserConfig" style="background-image: url({{img.Patterns4}})">
                <div id="header" class="row">
                    <div class="col-xs-10 headerTitle">{{logoutContent.title}}</div>
                </div>
                <div class="row folder">
                    <!--Folder & buttons-->
                    <div class="row titleFolderBox">
                        <div class="col-xs-6">
                            <div class="row positionIndex1"><div class="row"><div class="col-xs-2 tabFolderShadow"></div></div>
                               <div class="row"><div class="col-xs-12 contentFolderShadow"></div></div>
                            </div>
                            <div class="row positionIndex2"><div class="row"><div class="col-xs-2 tabFolder" style="background-color: #{{folderSelected.folderColor}}"></div></div>
                               <div class="row"><div class="col-xs-12 contentFolder" style="background-color: #{{folderSelected.folderColor}}">
                                       <div class="row">
                                           <div class="col-xs-2"><img class="img-rounded imgFolder" ng-src="{{folderSelected.imgSFolder}}"/></div>
                                           <div class="col-xs-10 folderTitle">{{folderSelected.folderName}}</div>
                                       </div>
                                   </div>
                               </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <button ng-show="!historicFolder" ng-click="editHistoricFolder()" class="turquoiseButton">Editar <div class="icon-pencil"></div><br/>carpeta</button>
                            <button class="turquoiseButton">Descarregar <div class="icon-download-alt"></div><br/>carpeta</button>
                            <button ng-show="!historicFolder" class="turquoiseButton" ng-click="deleteFolderModal()">Eliminar <div class="icon-trash"></div><br/>carpeta</button>
                        </div>
                        <div class="col-xs-2"><button ng-click="go('/panelGroups')" class="grayButton pull-right">Tornar <div class="icon-reply"></div><br/>al llistat</button></div>
                    </div>
                    <!--Historic Sentences-->
                    <div class="row scrollBox" ng-if="historicFolder">
                        <div class="row scrollOverflow" ng-scrollbar rebuild-on-resize rebuild-on="rebuild:meS">
                            <div class="row insideScroll" ng-repeat="sentence in sentences | unique:'ID_SHistoric'" on-Finish-Loop="scrollbarSentences">
                                <div class="col-xs-12 sentenceBox">
                                    <div class="row">
                                        <div class="col-xs-10">
                                            <div class="row">
                                                <div class="col-xs-1"></div>
                                                <div class="col-xs-1" ng-repeat="pictos in sentences | filter:{ID_SHistoric: sentence.ID_SHistoric}">
                                                    <img class="sentenceImg" ng-src="{{baseurl}}img/pictos/{{pictos.imgPicto}}"/>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-3 col-xs-offset-1 sentenceText">
                                                    {{sentence.generatorString}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-1"></div>
                                        <div class="col-xs-1">
                                            <div class="row copyButtonBig" ng-click="copySentence(sentence.ID_SHistoric, sentence.ID_SSentence)">Copiar <div class="icon-copy"></div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Folder Sentences-->
                    <div class="row scrollBox" ng-if="!historicFolder">
                        <div class="row scrollOverflow" ng-scrollbar rebuild-on-resize rebuild-on="rebuild:meS">
                            <div class="row insideScroll" ng-repeat="sentence in sentences | unique:'ID_SSentence'" on-Finish-Loop="scrollbarSentences">
                                <div class="col-xs-12 sentenceBox">
                                    <div class="row">
                                        <div class="col-xs-10">
                                            <div class="row">
                                                <div class="col-xs-1"></div>
                                                <div class="col-xs-1" ng-repeat="pictos in sentences | filter:{ID_SSentence: sentence.ID_SSentence}">
                                                    <img class="sentenceImg" ng-src="{{baseurl}}img/pictos/{{pictos.imgPicto}}"/>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-3 col-xs-offset-1 sentenceText">
                                                    {{sentence.generatorString}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-1"></div>
                                        <div class="col-xs-1">
                                            <div class="row copyButton" ng-click="copySentence(sentence.ID_SHistoric, sentence.ID_SSentence)">Copiar <div class="icon-copy"></div></div>
                                            <div class="row editButton">Edita <div class="icon-pencil"></div></div>
                                            <div class="row deleteButton" ng-click="deleteSentence(sentence.ID_SSentence)">Eliminar <div class="icon-trash"></div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                                
                                
<!--Copy Sentnce Modal-->
<div class="modal fade" id="copySentenceModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="row marginModalTopHist">
        <div class="row" id="boxUserConfig" style="background-image: url({{img.Patterns4}})">
            <div id="header" class="row">
                <div class="col-xs-10 headerTitle">{{logoutContent.title}}</div>
            </div>
            <div class="row backgroundUserConfigBox">
                <div class="row fonsAlert">
                    <div class="col-xs-12 textCenter">Selecciona la carpeta:</div>
                </div>
                <div class="row dadesUsuariCentre">
                    <div class="row scrollBoxModal">
                        <div class="row scrollOverflow" ng-scrollbar rebuild-on-resize rebuild-on="rebuild:meS2">
                            <div class="row histFolder" ng-repeat="folder in folders | orderBy:'folderOrder'" on-Finish-Loop="scrollbarSentences2">
                                <div class="row"><div class="col-xs-2 histTabFolder" style="background-color: #{{folder.folderColor}}"></div></div>
                                <div class="row" ng-click="copyOnFolder(folder.ID_Folder)">
                                    <div class="col-xs-12 histContentFolder" style="background-color: #{{folder.folderColor}}">
                                        <div class="row">
                                            <div class="col-xs-2"><img class="img-rounded imgHistFolder" ng-src="{{folder.imgSFolder}}"/></div>
                                            <div class="col-xs-10 folderHistTitle">{{folder.folderName}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="row verticalMarginTop"></div>
        </div>
        </div>
    </div>
</div>


<!--Delete folder Modal-->
<div class="modal fade" id="deleteFolderModal" role="dialog">
    <div class="modal-dialog">
        <div class="row marginModalTopOwl"><img class="img-owl pull-right" src={{img.lowSorpresaFlecha}}/></div>
        <div class="row" id="boxUserConfig" style="background-image: url({{img.Patterns4}})">
            <div id="header" class="row">
                <div class="col-xs-10 headerTitle">{{logoutContent.title}}</div>
            </div>
            <div class="row backgroundUserConfigBox">
                <div class="row fonsAlert">
                    <div class="col-xs-12 textCenter">Segur que vols eliminar la carpeta?</div>
                    <div class="col-xs-12 textCenter">Totes les frases es perderan</div>
                </div>
                <div class="row dadesUsuariCentre">
                    <div class="col-xs-6">
                        <button type="reset" class="btn-gray pull-left" data-dismiss="modal" ng-click="deleteFolder();">{{logoutContent.confirm}}</button>
                    </div>
                    <div class="col-xs-6">
                        <button type="reset" class="btn-gray pull-right" data-dismiss="modal">{{logoutContent.cancel}}</button>
                    </div>
                </div>
            </div>
        <div class="row verticalMarginTop"></div>
        </div>
    </div>
</div>
                    
                    
                    