<link rel="stylesheet" type="text/css" href="css/userConfig.css">
    <div class="row barraSuperior">
        <div class='col-xs-8 col-xs-offset-2'>
            <div class="col-xs-4"><p class="contingutBarraSuperior">Configuració d'usuari</p></div>
                <div class="col-xs-5 col-xs-offset-3 butonsBarraSuperiorRegistre">
                    <button
                        type="button"
                        class="icon-home btn-idioma"
                        ng-click=""> &nbsp;Inici
                    </button>
                     <a class="icon-remove-sign pull-right butoSortirBarraSuperiorRegistre" ng-href="" ng-click="resetForm()"></a>
                </div>
            </div>
        </div>
    </div>
<div class="container container-table">
            
    <div class="row vertical-center-row">
        <a ng-click="sortir()">SORTIR</a>
    </div>
            
            
            
        
		
	
</div>
